body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    animation: slideIn 1s ease-in-out;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #1a73e8;
    margin: 0.5rem auto 0;
  }
  
  input {
    width: 350px; /* Set a fixed width */
    padding: 0.8rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s;
}

  input:focus {
    border-color: #1a73e8;
    outline: none;
    box-shadow: 0 0 8px rgba(26, 115, 232, 0.2);
  }
  
  .loginbtn {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .loginbtn:hover {
    background-color: #1665c0;
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .showbtn {
    background-color: transparent;
    border: none;
    color: #1a73e8;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 10px;
    top: 32px;
  }

  .showbtn:hover{
    background-color:transparent;
    border:none;
  }
  
  
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  